body, html{
	background-image: url("../../img/background.jpg");
	width: 100%;
 }
 p{
	text-align: center; font-size: 1em;
}
#logo{
	font-family: 'Pacifico', cursive;
	font-size: 27px;

}
h4, .texto{
	text-align: center; 
	font-family: Forum;
        margin-top: 30px;
}
nav, .btn{
	background-color: #343a40;
}
#botao{
	margin: 0;
}
.side-nav{
	width: 200px;
}
.fundo{
	height: 200px;
	background-image: url("../../img/construction.png");
	background-repeat: no-repeat;
	background-position: center;
}
nav li:hover{
    background-color: #151515;
}
