body, html{
	background-image: url("../../img/background2.jpg");
	background-size: cover;
	background-color: rgba(0,0,0, 0.7);
	background-blend-mode: overlay;
	background-repeat: no-repeat;
	height: 100%;
 }
p{
	text-align: center; font-size: 1em;
}

#logo{
	font-family: 'Pacifico', cursive;
	font-size: 27px;
}
h1{
	text-align: center;
	font-family: Forum;
	text-transform: uppercase;
	letter-spacing: 10px; 
	font-size: 2.5rem; font-weight: bold;

}
h2{
	text-align: center;
}
nav{
	background-color: transparent;
}
#botao{
	margin: 0;
}

.side-nav{
	width: 200px;
}
.texto{
	color: #f1f1f1;
	cursor: default;

}
.texto h1{
	transition: 1.5s;
	transform: scale(1.2);

}